<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - DroneProject</title>
    <meta name="description" content="This is a tool used to determine how many objects are in a given image.">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Drag--Drop-Upload-Form.css">
    <link rel="stylesheet" href="assets/css/Drag-and-Drop-Multiple-File-Form-Input-upload-Advanced.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Search-Input-Responsive-with-Icon.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top navigation-clean-button">
        <div class="container"><img id="logo" src="assets/img/turtleicon.png"><a class="navbar-brand" href="index.html" style="color: var(--bs-success);">Drone Project</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/lakes.html">Lakes</a></li>
                    <li class="nav-item"><a class="nav-link" href="upload.html">Upload</a></li>
                    <li class="nav-item"><a class="nav-link" href="/account.html">Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact.html">Contact</a></li>
                </ul><span class="navbar-text actions"> <a class="login" href="login.html">Log In</a><a class="btn btn-light action-button" role="button" href="signup.html" style="background: var(--bs-success);margin-right: -20px;">Sign Up</a></span>
            </div>
        </div>
    </nav>
    <section class="text-center bg-light features-icons">
        <div class="container">
            <div class="row">
                <section class="login-clean"><img src="assets/img/Screen%20Shot%202021-10-22%20at%209.03.30%20AM.png"></section>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Object Number</th>
                        <th>X</th>
                        <th>Y</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>x</td>
                        <td>y</td>
                        <td>box</td>
                    </tr>
                    <tr>
                        <td>Total Objects:&nbsp;</td>
                        <td>Stitching Processing Time:</td>
                        <td>Scanning Processing Time:</td>
                        <td>Delete</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="bg-light footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start my-auto h-100">
                    <ul class="list-inline mb-2"></ul>
                    <p class="text-muted small mb-4 mb-lg-0">© Monmouth University SE Dept. 2022. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-center text-lg-end my-auto h-100">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="https://www.facebook.com/MonmouthUniversity"><i class="fa fa-facebook fa-2x fa-fw" style="color: var(--bs-success) !important;"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/monmouthu"><i class="fa fa-twitter fa-2x fa-fw" style="color: var(--bs-success) !important;"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/monmouthuniversity/"><i class="fa fa-instagram fa-2x fa-fw" style="color: var(--bs-success) !important;"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/Drag-and-Drop-Multiple-File-Form-Input-upload-Advanced.js"></script>
</body>

</html>